body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background: rgb(208, 234, 234);
}

nav div{
    padding-right: 5rem;
    display:flex;
    justify-content: space-between;
    
    
    
}
nav div a{
    padding: 1px;
   color: rgb(12, 78, 135);
    font-size: large;
    font-weight: bold;
    
    
    
    

}

div h2{
    padding-top: 1%;
   
    text-align: center;
    color: rgb(23, 22, 23);
}

.form{
    padding-top: 0%;
    margin-left: 1%;
   
   border: 2px solid rgb(221, 209, 209);
   

    
   
}
.formdesign{
    margin-top: 2%;
    color: rgb(10, 9, 9);
    font-weight: bold;
    height: 5%;
}
.formdesign input{
    margin-top: 0%;
    width: 40%;
    height: 30px;
}
.formdesign input:hover{
    cursor: pointer;
   
}
.button{
    background: rgb(59, 96, 190);
    margin-top: 2%;
    margin-right: 2%;
    height: 30px;
    width: 19%;
    border-radius: 2px;
    padding: 0%;
}